.app-container {
    .app-header {
      height: 64px;
      padding: 0;
      background: #fff;
      -webkit-box-shadow: 0 2px 8px #f0f1f2;
      box-shadow: 0 2px 8px #f0f1f2;
      position: relative;
      z-index: 10;
      max-width: 100%;
      .header-left {
        font-size: 25px;
        text-align: center;
      }
      .header-right{
        font-size: 15px;
        display: flex;
        .narbar {
          text-align: center;
          padding-right: 2px;
          width: 20px;
        }
        .header-button {
            text-align: center;
        }

      }
    }

  }
  

  