.articleList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .articleListItem {
        margin: 10px;
        box-shadow: 0 2px 8px #dde0e2;
        border-radius: 10px;

        .title {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .desc {
            display: flex;
            flex-direction: row;

        }
    }
}