.makedarea {
    display: flex;
    flex-direction: row;

    .edit {
        flex: 1;
        background-color: antiquewhite;
        height: 70vh;
    }

    .showarea {
        border: 1px solid black;
        border-radius: 0.3em;
        padding: 1em;
        margin-left: 1em;
        flex: 1;
        height: 70vh;
        overflow: auto;
    }
}